<!DOCTYPE html>

<!-- server-side Java template engine for both web and standalone environments -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" />
    <title>Title</title>
</head>

<body>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
    <div class="container">
        <h1 class="text-center">Todo List:</h1>
        <hr/>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Complete</th>
                    <th>Created</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${tasksList}">
                    <td th:text="${task.Id}">task_id</td>
                    <td th:text="${task.description}">task_description</td>
                    <td th:text="${task.complete}">task_complete</td>
                    <td th:text="${task.createdTime}">task_createdTime</td>
                    <td th:text="${task.modifiedTime}">task_modifiedTime</td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>